<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="background-image-container">
  </div>
  <div class="form-container">
    <h2>User Login</h2>
    <img src="assets/blank_user_image.jpg" alt="blank user image">
    <input type="text" [(ngModel)]="userName" name="username" id="username" placeholder="Enter your username">
    <input type="text" [(ngModel)]="password"  name="password" id="password" placeholder="Enter password">
    <button (click)="submitData()">Submit</button>
  </div>
</div>

